body{
    margin: 0;
    font-family: "Smythe", system-ui;
    position: relative;
}

header{
    height: 20vh;
    width: 100%;
}


.banner{
    background-image: url("images/banner.svg");
    background-size: cover;
    background-position: center;
    height:100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
    padding-left: 10%;
}

.restaurant-name{
    font-size: 39px;
    margin-bottom: 0px;
}

.restaurant-slogan{
    font-size: 22px;
    margin-bottom: 0px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.meal{
    display: flex;
    width: 100%;
    max-width: 800px;
    min-width: 380px;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}

.hidden{
    display: none !important;
}

.meal-layout{
    display: flex;
}

.meal-img{
    width: 60px;
    height: 60px;
    margin-top: 25px;
}

.add-btn{
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    align-self: center;
    padding: 10px;
    background-color:white;
}

.meal-detail{
    padding-left: 20px;
}

.meal-ingredients{
    margin-block: 5px;
    font-weight: normal;
}

.meal-name{
    margin-bottom: 5px;
    font-weight: normal;
}


.cart-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meal-name{
    align-self: flex-start;
}

.order-layout{
    display: block;
    margin: 20px auto;
    width: 70%;
    max-width: 800px;
    min-width: 300px;
    text-align: center;
}

#cart-detail{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#total-price-layout{
    display: flex;
    justify-content: space-between;
}

.remove{
    color: #8B8B8B;
    padding-left: 5px;
    border: none;
    background-color: transparent;
    font-size: 15px;
}



.submit-btn{
    border: none;
    background-color: #16DB99;
    padding: 20px 60px;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: inherit;
}

#card-detail-modal{
    position: fixed;
    width: 324px;
    height: 442px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    z-index: 10;
}

form{
    width: 100%;
    height: 100%;
}

input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 71px;
    font-size: 20px;
    padding-left: 10px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid #757575;
    
}

#modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(138, 130, 130, 0.5);
    z-index: 10;
    overflow-x: hidden;
}

#pay-btn{
    width: 100%;
}

.close-btn{
    align-self: flex-end;
    background-color: transparent;
    border: none;
    padding-left: 20px;
}

#order-launched{
    margin-top: 20px;
    background-color: #ECFDF5;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    z-index: 10;
}

#order-launched h2{
    font-weight: normal;
}



